.container {
  display: grid;
  grid-template-areas:
    "header"
    "left-aside"
    "main"
    "right-aside"
    "footer";
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

header {
  grid-area: header;
  background-color: #924e7d;
  color: white;
  text-align: center;
  padding: 1rem;
}

.left-aside {
  grid-area: left-aside;
  background-color: #1c5d7c;
  color: white;
  text-align: center;
  padding: 1rem;
}

.right-aside {
  grid-area: right-aside;
  background-color: #3599b6;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  grid-area: main;
  background-color: #43b083;
  padding: 1rem;
  color: white;
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.column {
  background-color: #d02d75;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer {
  grid-area: footer;
  background-color: #e37c2d;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "left-aside main right-aside"
      "footer footer footer";
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }

  .column {
    flex: 1;
    text-align: center;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}